.user {
  margin-bottom: 80px;
}

.avatar {
  width: 100px;
  /* max-width: 100%; */
}

.userInfo {

}

.infoItem {

}

.fullName {

}

.infoGeo {

}

.pagination {
  list-style: none;
  display: flex;
}

.paginationItem  button {
  font: inherit;
  background-color: transparent;
  border: none;
}

.paginationActiveItem button {
  font-weight: bold;
}