.sidebar {
  background-color: #470c36;
  color: #ffffff;
}

.navigation {
  grid-area: nav;
  padding: 20px 36px;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widgets {
  padding: 20px 30px;
  background-color: #842e6b;
}

.widgets h3 {
  margin-block-start: 0;
}
