.messageForm {
  display: flex;
}

.buttonMessage {
  font: inherit;
  font-size: 20px;
  line-height: 42px;
  color: #f0f9f0;
  height: 42px;
  padding: 0 16px;
  border: none;
  cursor: pointer;
  background-color: #0f0a45;
}
