.dialogsPage {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.dialogs {
}

.dialog {
  border-bottom: 1px solid rgba(15, 10, 69, 0.10);
}

.dialog a {
  display: block;
  padding: 16px;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.dialog a.activeDialog {
  color: #0f0a45
}

.messages {
  background-color: #f0f9f0;
}

.message {
  padding: 16px;
}

.my.message {
  text-align: right;
}
