*, *::before, *::after {
  box-sizing: border-box;
}

.dialogsPage {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.dialogs {
}

.messagesContainer {
  position: relative;
  padding-bottom: 40px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  background-color: #f0f9f0;
  padding: 0 16px;
  min-height: 100%;
  max-height: 700px;
  overflow: auto;
}
