.message {
  padding: 16px 0;
  flex-basis: 100%;

}

.my.message {
  align-self: flex-end;
}

.message span {
  display: inline-block;
  word-wrap: break-word;
  max-width: 70%;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  max-width: 249px;
}

.message.my span {
  background-color: green;
}
