.item:hover a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

a {
  color: #ffffff;
  text-decoration: none;
}

.item a.activeLink {
  color: #cc0a62;
  padding-left: 6px;
  border-left: 1px solid #f9f0f0;
}

.item {
  margin-bottom: 20px;
}


